<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="localvicinity.localvicinity.com.localvicinity" >



    <uses-permission android:name="localvicinity.localvicinity.com.localvicinity.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".PointsList">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme" >
  android:label="Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
        android:theme="@style/AppTheme"
        android:name=".ViewLocationsActivity"
        android:label="@string/title_activity_add_name"
        android:parentActivityName=".AddLocationDetails"/>



        <activity
            android:theme="@style/AppTheme"
            android:name=".AddLocation"
            android:label="@string/title_activity_add_name"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".AddLocationDetails"
            android:label="@string/title_activity_add_name"
            android:parentActivityName=".AddLocation"/>



        <activity
            android:theme="@style/AppTheme"
            android:name=".UpdateLocationsActivity"
            android:label="Update Contacts"
            android:parentActivityName=".ViewLocationsActivity">

        </activity>
    </application>

</manifest>
